html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 40em;
    margin: 0 auto;
}

header {
    display: flex;
    background-color: white;
}

h1 {
    font-size: 1em;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 8px 20px;
    border-top: solid 2px transparent;
    border-bottom: solid 2px black;
    user-select: none;
}

nav {
    flex-grow: 1;
    display: flex;
}

a {
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;  
    padding: 8px;
    background-color: lightgray;
    color: black;
    text-decoration: none;
    border: solid 2px black;
    user-select: none;
}

a:not(:first-of-type) {
    border-left: none;
}

html.packet #packet-btn, html.message #message-btn {
    background: none;
    border-bottom-color: transparent;
}

form {
    display: flex;
    padding: 10px;
    border: solid 2px black;
    border-top: none;
    border-bottom: none;
}

input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    min-width: 0;
}

p {
    margin: 0;
    padding: 10px;
    border-bottom: solid 2px lightgray;
    word-wrap: break-word;
    min-height: 1em;
}

.err {
    background-color: tomato;
    font-weight: bold;
}

.tx {
    background-color: lightgreen;
    text-align: right;
}

.rx {
    font-weight: bold;
}

section {
    overflow-y: auto;
    flex-grow: 1;
    border: solid 2px black;
    border-top-style: dashed;
}

html.message .packet, html.packet .message,
html.message #packet-form, html.packet #message-form {
    display: none;
}
